
<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/leftDefault}">
        
    <section layout:fragment="contents" class="d-flex justify-content-center">
        <!-- 전체 layout -->
        <div class="main-contents">
            <!-- 입력 상자 -->
            <div class="input-box border rounded mt-5">
                <textarea rows="4" class="form-control border-0" id="contentsInput"></textarea>
                <div class="d-flex justify-content-between p-2">
                    <i class="bi bi-image" id="fileBtn"></i>
                    <input type="file" id="fileInput" class="d-none">
                    <button type="button" class="btn btn-dark btn-sm" id="uploadBtn">입력</button>
                </div>
            </div>
            <!-- /입력 상자 -->
            
            
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">삭제</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        정말로 삭제하시겠습니까?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                        <button type="button" class="btn btn-danger" id="deleteBtn">삭제</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>            
            
            
            <!-- 타임라인 -->
            <div class="timeline my-4">
                <!-- 카드 -->
                <div th:each="card, status:${cardViewList}" class="card my-3">
                    <div class="d-flex justify-content-between p-2">
                        <div th:text="${card.loginId}">dulumary</div>
                        <i class="bi bi-three-dots-vertical more-icon"></i>
                    </div>
                    <div>
                        <img class="w-100" th:src="${card.imagePath}">
                    </div>
                    <div class="p-2">
                        <div class="d-flex">
                            <div class="w-75">
                                <i th:if="${card.loginUserLike}" class="bi bi-heart-fill text-danger unlikeBtn" th:data-post-id="${card.postId}"></i>
                                <i th:unless="${card.loginUserLike}" class="bi bi-heart likeBtn" th:data-post-id="${card.postId}"></i>
                                <span th:text="${card.likeCount}">좋아요 11개</span>                            
                            </div>                     
                            <div th:if="${session.userId == card.userId}" class="d-flex justify-content-end w-25">
                                <i  class="bi bi-trash text-danger postDeleteIcon" data-toggle="modal" data-target="#exampleModal" th:data-post-id="${card.postId}"></i>  
                            </div>                                           
                        </div>                                         
                    </div>
                    
                    <div class="p-2">
                        <b th:text="${card.loginId}">dulumary</b> <span th:text="${card.contents}">안녕</span> 
                    </div>
                    <!-- 댓글 목록 -->
                    <div class="comment-box">
                        <div class="pl-2">댓글</div>
                        <div class="p-2">
                            <div th:each="comment, status:${card.commentList}">
                                <div class="d-flex">
                                    <div class="w-75">
                                       <b th:text="${comment.userLoginId}">bada</b>
                                       <span th:text=${comment.commentText}>우하하하</span>                                 
                                    </div>
                                   <div th:if="${session.userId == comment.userId}" class="d-flex justify-content-end w-25">
                                       <i class="bi bi-trash commentDeleteIcon" data-toggle="modal" data-target="#exampleModal" th:data-comment-id="${comment.id}"></i>                                                                
                                   </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <input type="text" class="form-control col-10 comment-text" th:id="|commentInput${card.postId}|">
                            <button type="button" class="btn btn-dark col-2 comment-btn" th:data-post-id="${card.postId}">게시</button>
                        </div>
                    </div>
                </div>
                <!-- /카드 -->
            </div>
            <!-- /타임라인 -->
        
        </div>
        <!-- /전체 layout -->
    
    </section>
    
    <script layout:fragment="script">
        $(document).ready(function(){
            
            $(".postDeleteIcon").click(function(){
                
                let data = $(this).data("post-id");
                
                $("#deleteBtn").data("post-id", data);
                
            });
            
            $(".commentDeleteIcon").click(function(){
                
                let data = $(this).data("comment-id");
                
                $("#deleteBtn").data("comment-id", data);
                
            });
            
            $("#deleteBtn").on("click", function(){
                
                let postId = $(this).data("post-id");
                let commentId = $(this).data("comment-id");
                
                let url = "";
                let dataDictionary = {}; 
                
                if(postId == null && commentId != null){
                    url = "/post/comment/delete";
                    dataDictionary["commentId"] = commentId;
                }else{
                    url = "/post/delete";
                    dataDictionary["postId"] = postId;
                }
                
                $.ajax({
                    
                    type: "delete"
                    , url: url
                    , data: dataDictionary
                    , success: function(data){
                        if(data.result == "success"){
                            alert("삭제 완료!");
                            location.reload();
                        }else{
                            alert("삭제 실패!!");
                        }
                    }
                    , error: function(){
                        alert("삭제 에러!!");
                    }
                    
                });             
                
            });
            

            
           
            $(".comment-btn").on("click", function(){
                
                let postId = $(this).data("post-id");
                let commentText = $("#commentInput" + postId).val();
                // let commentText = $(this).prev().val();
                
                $.ajax({
                    
                    type: "post"
                    , url: "/post/comment/create"
                    , data: {"postId":postId, "commentText":commentText}
                    , success: function(data){
                        if(data.result == "success"){
                            alert("댓글 추가 완료!");
                            location.reload();
                        }else{
                            alert("댓글 추가 실패!!");
                        }
                    }
                    , error: function(){
                        alert("댓글 추가 에러!!");
                    }
                    
                });
                
            });
            
            $(".likeBtn").on("click", function(){
                
                let postId = $(this).data("post-id");

                $.ajax({
                    
                    type: "post"
                    , url: "/post/like"
                    , data: {"postId":postId}
                    , success: function(data){
                        if(data.result == "success"){
                            alert("좋아요 완료!");
                            location.reload();
                        }else{
                            alert("좋아요 실패!!");
                        }
                    }
                    , error: function(){
                        alert("좋아요 에러!!");
                    }
                });             
                
            });
            
           $(".unlikeBtn").on("click", function(){
                
                let postId = $(this).data("post-id");

                $.ajax({
                    
                    type: "delete"
                    , url: "/post/unlike"
                    , data: {"postId":postId}
                    , success: function(data){
                        if(data.result == "success"){
                            alert("좋아요 해제 완료!");
                            location.reload();
                        }else{
                            alert("좋아요 해제 실패!!");
                        }
                    }
                    , error: function(){
                        alert("좋아요 해제 에러!!");
                    }
                });             
                
            });
            
            $("#fileBtn").on("click", function(){
                
                $("#fileInput").click();
                
            });
            
            $("#uploadBtn").on("click", function(){
                
                let contents = $("#contentsInput").val();
                
                let file = $("#fileInput")[0].files[0]; // .files[첫번째 파일]
                
                if(contents == ""){
                    alert("내용을 입력하세요.");
                    return;
                }
                
                let formData = new FormData();
                formData.append("contents", contents);
                formData.append("imageFile", file);
                
                $.ajax({
                    
                    type: "post"
                    , url: "/post/create"
                    , data: formData
                    , enctype: "multipart/form-data" // 파일 업로드 필수
                    , processData: false // 파일 업로드 필수
                    , contentType: false // 파일 업로드 필수
                    , success: function(data){
                        if(data.result == "success"){
                            alert("게시글 추가 성공!!");
                            location.href = "/post/timeline-view";
                        }else{
                            alert("게시글 추가 실패!!");
                        }
                    }
                    , error: function(){
                        alert("게시글 추가 에러!!");
                    }
                });
                
            });
    
        });
    
    </script>
    
    
</html>